<footer class="footer sm:footer-horizontal footer-center text-base-content p">
    <aside>
        <p class="">
            Copyright 2026 - Simple & Easy Transactions
        </p>
    </aside>
</footer>
